<div
    style="
        position: absolute;
        top: 0;
        left: 0;
        margin: 3%;
        font-family:
            system-ui,
            -apple-system,
            BlinkMacSystemFont,
            &quot;Segoe UI&quot;,
            Roboto,
            Oxygen,
            Ubuntu,
            Cantarell,
            &quot;Open Sans&quot;,
            &quot;Helvetica Neue&quot;,
            sans-serif;
        font-weight: 800;
        font-size: 24px;
    "
>
    <a
        href="https://github.com/AWeirdDev/serverlessd"
        style="color: #0f0807 !important; text-decoration: underline !important"
        >svld</a
    >
</div>
